<!DOCTYPE>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>

<link rel="stylesheet" type="text/css" href="public/style.css">

  <title> Jacqueline Jia </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="background-image" ng-app="myApp" ng-controller="myCtrl">

  <div class="content">

    <div class="menu">
      <nav>
        <a href="">Projects</a></li>
        <a href="other-skills.html">Other Skills</a></li>
        <a class="active" href="comments.html">Comments</a></li>
      </nav>
    </div>

    <div class="container">
      <h1 class="purple">Comments about Jacqueline</h1>

      <table class="table">
        <thead class="purple">
          <tr>
            <th>Name</th>
            <th>Comment</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr>
            <td><input class="form-control" ng-model="comment.name"></td>
            <td><input class="form-control" ng-model="comment.comment"></td>
            <td><button class="btn btn-primary" ng-click="addComment()">Post</botton></td>
          </tr> -->
          <tr ng-repeat="comment in commentlist | orderBy:'-'">
            <td>{{comment.name}}</td>
            <td>{{comment.comment}}</td>
          </tr>
          <tr>
            <td>Anonymous</td>
            <td>I am cool</td>
          </tr>
          <tr>
            <td>Anonymous</td>
            <td>*Jacqueline is cool</td>
          </tr>
          <tr>
            <td>Anonymous</td>
            <td>Why is there no delete button???</td>
          </tr>
          <tr>
            <td>Staff 1</td>
            <td>There are no more comment spots available at this time, please try again later.</td>
          </tr>
          <tr>
            <td>Iam Angry</td>
            <td>I have been waiting years to comment, but the comments section is still full. PLEASE FIX THIS</td>
          </tr>
          <tr>
            <td>Staff 2</td>
            <td>New comment spot just filled, no more spots available at this time.</td>
          </tr>
          <tr>
            <td>Super Angry</td>
            <td>WHY DID NO ONE TELL ME THERE WAS AN EMPTY SPOT LEFT BEFORE I COMMENTED</td>
          </tr>
          <tr>
            <td>{{commentName}}</td>
            <td>{{commentComment}}</td>
          </tr>
          <tr>
            <td><input class="form-control" ng-model="commentName"></td>
            <td><input class="form-control" ng-model="commentComment"></td>
            <td><button class="btn btn-primary" ng-click="addCommentFull()">Post</botton></td>
          </tr>
          <tr>
            <td></td>
            <td>{{addCommentMessage}}</td
          </tr>
        </tbody>
      </table>
    </div>


  </div>

<script src="public/myApp.js"></script>

</body>
</html>
