<!DOCTYPE>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>

<link rel="stylesheet" type="text/css" href="public/style.css">

  <title> Jacqueline Jia </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body ng-app="myApp" ng-controller="myCtrl">

  <div class="background-image">
  <div class="content">

    <div class="menu">
      <nav>
        <a href="">Projects</a></li>
        <a href="awards.html">Awards</a></li>
        <a class = "active" href="interests.html">Interests</a></li>
        <a href="comments.html">Comments</a></li>
      </nav>
    </div>

    <div class="container">
      <h1 class="purple">Jacqueline's Hobbies and Interests</h1>

        <div class="modal" ng-style="showModal && {'display':'block'}">
          <span class="modalClose" ng-click="showModal=false">x</span>
          <img class="modalImg" ng-style="modalIsImg && {'display':'block'}" ng-src="{{modalImgAddress}}">
          <video class="modalVideo" ng-style="modalIsVideo && {'display':'block'}" controls ng-src="{{modalImgAddress}}" type="video/mp4">
          <div class="modalCaption">{{modalCaption}}</div>
        </div>

        <div class="imgContainer" ng-click="setModal('public/images/pink-sky.jpg')">
          <img src="public/images/pink-sky.jpg" height="400px">
          <div class="imgMiddle">
            <div class="imgText purple">Interest Here</div>
          </div>
        </div>

        <div class="imgContainer" ng-click="setModal('public/images/test.jpg')">
          <img src="public/images/test.jpg" height="200px">
          <div class="imgMiddle">
            <div class="imgText purple">Interest Here</div>
          </div>
        </div>

        <div class="imgContainer" ng-click="setModal('public/images/juggling720.mp4', 'video'); setCaption('October 23, 2016')">
          <img src="public/images/juggling.jpg" height="200px">
          <div class="imgMiddle">
            <div class="imgText purple">Juggling</div>
          </div>
        </div>

        <div class="imgContainer" ng-click="setModal('public/images/3Danimation.mp4', 'video'); setCaption('Created using Autodesk 3ds Max.')">
          <img src="public/images/3Danimation.jpg" height="200px">
          <div class="imgMiddle">
            <div class="imgText purple">3D animation</div>
          </div>
        </div>

    </div>


  </div>
</div>

<script src="public/myApp.js"></script>

</body>
</html>
