.background-image {
  background: url(images/pink-flower-blue-good.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  z-index: -1;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 3s;
}

.grayscale {
  -webkit-filter: grayscale(100%);
}

.content {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
}

.menu {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.85);
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  max-height: 46px;
  z-index: 10;
}

.menu a {
  float: left;
  display: block;
  color: rgb(43, 10, 91);
  text-align: center;
  padding: 13px 16px;
  text-decoration: none;
}

.menu a:hover:not(.active),
.active {
  background-color: white;
}

.hid {
  height: 0;
}

.transitionFast {
  transition: 0.5s ease;
}

.name-header {
  position: fixed;
  top: 50%;
  left: 50%;
  /*max-width: 100%;
  max-height: 100%;*/
  width: 666px;
  height: 100px;
/*background-color: black;*/
  -webkit-transform: translate(-50%, -170px);
	-moz-transform: translate(-50%, -170px);
	-ms-transform: translate(-50%, -170px);
	-o-transform: translate(-50%, -170px);
	transform: translate(-50%, -170px);

  letter-spacing: 0.3px;
  font-size: 100px;
  text-align: center;
}

@media only screen and (max-width: 700px){
    .name-header {
        width: 500px;
        /*height: 200px;*/
    }
}

.hover:hover {
  opacity: 0.6;
  cursor: pointer;
}

.pink {
  color: rgb(255, 153, 204);
}

.purple {
  color: rgb(43, 10, 91);
}

.transition {
  transition: all cubic-bezier(0.45, 0.56, 0.55, 0.94) 3s;
}


div.img:hover {
  /*opacity: 0.7;
  cursor: pointer;*/
}

.imgContainer img {
  /*width: 100%;*/
  height: 100%;
  opacity: 0.7;
  transition: all 0.2s;
  border-radius: 5px;
}

.imgContainer {
  position: relative;
  float: left;
  /*width: auto;*/
  height: 200px;
  margin: 6px;
  overflow: hidden;
  background-color: white;
  border-radius: 5px;
}

.imgContainer:hover img {
  opacity: 1;
  cursor: pointer;
}

.imgContainer:hover .imgMiddle {
  opacity: 0;
  cursor: pointer;
}

.imgMiddle {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  text-align: center;
  background-color: white;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 5px;

  transition: all 0.2s;
}

.modal {
  /*display: none;*/
  position: fixed;
  z-index: 11;
  padding-top: 100px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /*width: 100%;
  height: 100%;*/
  overflow-y: auto;
  overflow-x: auto;
  background-color: rgba(0,0,0,0.9);
}

.modalDisplay {
  display: block;
}

.modalImg {
  margin: auto;
  display: none;
  max-width: 80%;
  max-height: 80%;
  width: auto;
  height: auto;
}

.modalVideo {
  margin: auto;
  display: none;
  max-width: 80%;
  max-height: 80%;
  width: auto;
  height: auto;
}

.modalCaption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  white-space: pre;
}

.modalClose {
  position: fixed;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.modalClose:hover,
.modalClose:focus {
  color: #bbb;
  cursor: pointer;
}

/* 100% Max Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modalVideo,
    .modalImg {
        max-width: 100%;
    }
}
